/***************************
GENERAL
****************************/
body {
  margin: 0;
  color: #7A7065;
  font-family: Verdana, serif;
  font-size: 12px;
  font-weight: 100;
}
#container {
  width: 600px;
  margin: auto;
  border: 1px solid #CECBB8;
  background-color: #EAE8D1;
}

h1 {
  font-family: Times, serif;
  font-size: 30px;
  font-weight: 100;
  margin: 15px 0 15px;

}

h2 {
  font-family: Times, serif;
  font-size: 15px;
}

p {
  line-height: 1.5em;
  margin-bottom: 0;
}

/***************************
HEADER
****************************/
#topbar {
  width: 600px;
  height: 220px;
  background: #51473E url(pics/coffey.jpg)  no-repeat bottom center;
  background-size: 600px 200px;
  text-align: right;
  vertical-align: bottom;
  color: #EAE7D3;
  font-size: 9.5px;
  font-style: italic;
  line-height: 20px;
}

/***************************
NAVIGATION
****************************/
#menu {
  text-align: left;
  background-color: #51473E;
}

#menu ul{

  padding: 5px 0 0;
  margin-top: 0;
  margin-left: 10px;
  font-size: 0;

}

#menu li {
  display: inline-block;
  border-right: 1px solid #52473C;
  background: #797067;
}

#menu .active a{
  color: #898075;
  background: #EAE8D1;
}

#menu a {
  display: inline-block;
  padding: 7px 15px;
  text-decoration: none;
  color: #EAE7D3;
  font-family: 'Verdana', serif;
  font-size: 13px;
  font-weight: 100;
}
#menu a:hover {
  background: #9C9085;
}

#menu a:first-letter {
  text-transform: uppercase;
}

#menu a[href="#maincontent"] {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

#menu a[href="#maincontent"]:focus{
position:static;
width:auto;
height:auto;
}



/***************************
CONTENT
****************************/

#maincontent {
  width: 350px;
  padding: 0px;
  margin: 10px 10px 0;
  float: left;
}



#maincontent img{
  float: left;
  padding: 0 5px 5px 0;
}


#subcontent {
  width: 219px;
  float: right;
  padding-right: 10px;
  border-left: 1px dashed #C0C0C0;
  margin-top: 20px;
}

#subcontent h1 {
  margin: 15px 0 20px 10px;
  font-size: 16px;
}

#subcontent p {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 2;
  margin: 0 0 0 10px;
}

/***************************
FOOTER
****************************/
#bottomcontent {
  clear: both;
  font-size: 8px;
  font-style: italic;
  padding: 0 0 15px 10px;
}
