/***************************
GENERAL
****************************/
body {
  margin: 0;
  background-color: #EAE8D1;
  color: #7A7065;
}
#container {
  width: 600px;
  margin: auto;
}

h1 {
  font-family: 'Times New Roman', serif;
  font-size: 1.2em;
}

p {
  font-family: 'Verdana', serif;
  font-size: 1em;
}


/***************************
HEADER
****************************/
#topbar {
  width: 600px;
  height: 220px;
  background: #51473E url(pics/coffey.jpg)  no-repeat bottom center;
  background-size: 600px 200px;
  text-align: right;
  color: #EAE7D3;
}

/***************************
NAVIGATION
****************************/
#menu {
  text-align: left;
  background-color: #51473E;
}

#menu ul{

  padding: 10px 0 0;
  margin-top: 0;
  margin-left: 10px;

}

#menu li {
  display: inline-block;
}

#menu a {
  padding: 10px 20px;
  text-decoration: none;
  color: #EAE7D3;
  background: #797067;
  display: inline-block;
}


#menu a[href="#maincontent"] {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

#menu a[href="#maincontent"]:focus{
position:static;
width:auto;
height:auto;
}



/***************************
CONTENT
****************************/
#maincontent {
  width: 350px;
  padding: 0px;
  float: left;
}

#subcontent {
  width: 220px;
  float: right;
}

/***************************
FOOTER
****************************/
#bottomcontent {
  clear: both;
}
